@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #131313;
}

.nav-container {
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border: none;
  a {
    color: #f09c38;
  }

  .logo {
    color: #51e0a4;
    font-weight: bold;
  }

  .active {
    color: #51e0a4;
  }

  ul {
    display: flex;
    a {
      display: block;
      padding: 0 1em;
      font-size: 11px;
      transition: 0.2s ease-in;
    }

    a:hover {
      color: #51e0a4;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.blog-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #f09c38;
    margin-top: 2em;
    margin-bottom: 0.2em;
  }

  .blog-hero_card { 

    .blog-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2em 2em;
      width: 330px;
      height: 350px;
      border-radius: 5px;
      box-shadow: 0 0px 0px 3px rgba(255, 255, 255, 0.2);
      padding: 0.3em;
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }

      .date {
        color: #f09d38c0;
        margin-top: 1em;
        margin-bottom: 0.2em;
        font-size: 14px;
      }

      .title {
        width: 70%;
        color: #51e0a4;
        font-size: 18px;
        margin: 0;
        font-weight: bold;
      }
    }
  }
}

.footer-hero-design {
  display: none;
}

.footer-container {
  position: relative;
  height: 20vh;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 2em;
  .footer-logo {
    color: #51e0a4;
    font-weight: bold;
  }
  nav {
    width: 50%;
    a {
      color: #f09c38;
    }

    ul {
      display: flex;
      a {
        display: block;
        padding: 0 1em;
        font-size: 11px;
      }
    }
  }

  .right {
    position: absolute;
    width: 300px;
    height: 150px;
    right: 0;
    margin: 0 2em;

    .footer-hero-design {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 800px) {
  .footer-container {
    nav {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .blog-hero {
    height: 70vh;

    h1 {
      text-align: left;
    }

    .blog-hero_card {
      width: 100%;
      height: 100%;
      padding: 0 2em;
      display: flex;
      justify-content: center;
    }
    .blog-item {
      margin: 2em 2.5rem;
      box-shadow: 0 0px 0px 3px rgba(255, 255, 255, 0.2);
      padding: 0.3em;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .footer-hero-design {
    display: unset;
  }

  .blog-hero {
    height: 70vh;

    h1 {
      text-align: left;
    }

    .blog-hero_card {
      width: 100%;
      height: 100%;
      padding: 0 2em;
      display: flex;
      justify-content: center;
    }
    .blog-item {
      margin: 2em 1rem;
      box-shadow: 0 0px 0px 3px rgba(255, 255, 255, 0.2);
      padding: 0.3em;
    }
  }
}

@media only screen and(min-width: 1050px) {
  .blog-hero {
    height: 70vh;

    .blog-hero_card {
      width: 100%;
      height: 100%;
      padding: 0 2em;
      display: flex;
      justify-content: center;
    }
    .blog-item {
      text-align: unset !important;
      margin: 2em 1rem;
    }
  }
}
